.jumbotron {
    background: aquamarine;
    text-align: center;
    margin-top: 100px;
    margin-right: 170px;
    margin-left: 170px;
    font-family: 'Audiowide', cursive;
}

.container-fluid {
    background-image: url("../images/curls.png");
    background-color: #cccccc;
    padding-top: 30px;
    padding-bottom: 300px;
}

.question {
    /* font-family: 'Audiowide', cursive; */
    font-size: 30px;
}

.rightAnswer {
    font-size: 30px;
}

.wrongAnswer {
    font-size: 30px;
}

.redBtn {
    margin: 10px;
}

.score {
    font-size: 30px;
}

.gameOver {
    font-size: 30px;
}

